.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body, html {
  margin-top: 0px;
  height: 100%;
}

#root, .App {
  height: 100%;  
}

#title {
  text-align:center;
  background-color: orange;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px 10px 0px;
}

#topContainer {
  margin-top:0px;
  background-color: rgba(242, 179, 44, .3);
  height: 650px;
  /*transition: max-height 2s;*/
}

.submitButton {
  margin: 0px;
  padding: 0px;
  padding: 5px 5px 5px 5px;
  
  border-radius: 0px 5px 5px 0px;
  border-style:none;
  background-color: red;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitButton:hover {
  background-color: #8c170a;
}

.urlAndEmail {
  border-radius: 5px 0px 0px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: none;
  width: 400px;
  padding: 5px 0px 5px 5px;

}

.urlAndEmail:focus {
  outline:0;
}

h3 {
  margin-top: 0px;
}

input[type=button]:hover {
  cursor: pointer;

} 
input[type=submit]:hover {
  cursor: pointer;
} 


.grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#back {
  font-size: 200px;
  display: inline-block;
  background-color: transparent;
  border-style:none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color:rgba(30, 29, 26, 0.2);
  line-height: 130px;
}

#back:hover {
  color:rgba(30, 29, 26, 0.4);
}

/* .right {
  flex: 1;
} */

/* .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

/* .left {
  flex: 1;
}  */


/* .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.left {
  flex: 1;
} */
