/*Define Variables*/
:root {
  --brand-bg: green; 
  --brand-fg: white;
  --brand-light: rgb(3, 179, 3);
  --brand-dark: rgb(7, 82, 7);  
  --brand-dark-dark: rgb(7, 67, 7);  
  --back-grey: rgba(30, 29, 26, 0.2);
  --back-grey-hover: rgba(30, 29, 26, 0.4);
}

/*Flexbox Setup*/
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.spacer {
  flex-grow: 2;
}


/*Ensure app fills the whole screen*/
body, html {
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

#root, .App {
  height: 100%;  
}

/*Font and heading styles*/
h1, h2, h3 {
  font-weight: 100;  
}


/*Across all screens*/
h3 {
  margin-top: 0px;
}

/*Main Container*/

#hills {
  margin-left:0px;
  padding-bottom: 0px;
}

#topContainer {
  margin-top:0px;
  background-color: var(--brand-bg);
  /* background-color:  rgba(125, 123, 117, 0.3); rgba(242, 179, 44, .3); */
  height: 610px;
  display:flex;
  flex-direction: column;
  text-align: center;
  color: var(--brand-fg);
  /*transition: max-height 2s;*/
}

.grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}


/*First screen separate*/
#tagline {
  font-weight: 100;
}

/*Input Controls - buttons*/
.submitButton {
  margin: 0px;
  padding: 0px;
  padding: 5px 5px 5px 5px;
  width: 50px;
  border-radius: 0px 5px 5px 0px;
  border-style:none;
  background-color: var(--brand-dark);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitButton:hover {
  background-color: var(--brand-dark-dark);
}

input[type=button]:hover {
  cursor: pointer;

} 
input[type=submit]:hover {
  cursor: pointer;
} 

/*Input Controls - text*/
.urlAndEmail {
  border-radius: 5px 0px 0px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: none;
  width: 400px;
  padding: 5px 0px 5px 5px;
  /* max-width: 80%; */
  flex-grow:2;
}

.urlAndEmail:focus {
  outline:0;
}

/* Back Button */
#back {
  font-size: 200px;
  display: inline-block;
  background-color: transparent;
  border-style:none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: var(--back-grey);
  line-height: 130px;
}

#back:hover {
  color: var(--back-grey-hover);
}