 #elementPickFrame,#frameLoadPlaceholder {
    width: 720px;
    height: 450px; 
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    margin-top: 0px;    
    /* overflow: hidden; */
} 

@media only screen and (max-width: 700px) {
  #elementPickFrame,#frameLoadPlaceholder {
    width: 360px;
    height: 225px;     
  }
  #loadingMessage {
    margin-top:0px;
  }
  
}
#frameLoadPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brand-dark);
}

#spacerTop {
  flex-grow: 1;
}

#XKCD {
  height: 30%;
  max-height: 250px;
}

#loadingCanvas {
  max-height:100px;
  height:30%;
}

#xkcdLink {
  text-decoration: none;
  color: var(--brand-light);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }