#another {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: none;
    padding: 5px 20px 5px 20px;
    background-color: var(--brand-dark);
    color: white;
    font-weight: 500;
}

#another:hover {
    background-color: var(--brand-dark-dark);
}

#another:focus {
    outline: none;
}