#emailContent {
    max-width: 500px;
    width: 90%;
    height: 300px;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
}

#emailContent:focus {
    outline: none;
}

#submitContent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: none;
    padding: 5px 20px 5px 20px;
    background-color: var(--brand-dark);
    color: white;
    font-weight: 500;
}

#submitContent:hover {
    background-color: vaR(--brand-dark-dark);
}

#submitContent:focus {
    outline: none;
}

#subjectLine {
    border-radius: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;
    width: 400px;
    padding: 5px 0px 5px 5px;
    max-width: 80%;
    font-family: 'Courier New', Courier, monospace;
  }

#emailContainer {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}


@media only screen and (max-width: 600px) {
    #emailContainer {
        display:flex;
        flex-direction:column;
        justify-content: center !important;
        align-items: center;
    }    

    #emailContent, #subjectLine {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 5px;
    } 
    #emailContent {
        height: 100px;
    }

}