#username {
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;
    width: 99%;
    padding: 5px 0px 5px 0px;
    padding-left: 1%;
    

    border-style:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

#nameAndSubjectForm {
    display:flex;
    flex-direction:column;
    justify-content: center;
    
}